root = true

[*]
block_comment_start = /*
block_comment = *
block_comment_end = */
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = null
trim_trailing_whitespace = true
